<h3>Login:</h3>
<div class="form">
  <form (submit)="onLogin()">
  <p>Email:</p>
     <input [(ngModel)]="loginUser.email" type="text" name="loginUser.email" placeholder="Email"/>
     <p>Password:</p>
     <input [(ngModel)]="loginUser.password" type='text' name="loginUser.password" placeholder="Password"><br>
     <!-- <button [routerLink]="['/user/:id']">Login</button>&nbsp;&nbsp; -->
     
     <input type="submit" value="Login"/>

     <p>Need an account? <a [routerLink]="['/register']">Sign up</a></p>

  </form>
</div>

<div *ngIf='errors.length > 0' style='color:red;'>
  <h6 *ngFor='let error of errors'>{{error}}</h6>
</div>
