.register {
    background-image: url(src/assets/chicago-water-skyline.jpeg);
    background-size: cover;
    padding: 60px;
    min-height: 900px;
    font-family:Arial, Helvetica, sans-serif
}
h1 {
    font-family: Apple Chancery, "Times New Roman", serif;
}